<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
        <!-- with the help of ngModelGroup we can make validation for entire group -->
        <div *ngIf="contact.touched && !contact.valid" style="color: red;"> Raise some error.</div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input required minlength="3" maxlength="10" ngModel name="firstname" #firstName="ngModel"
                (change)="log(firstName)" id="firstname" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors?.['required']">First Name is a Mandatory field.</div>
                <div *ngIf="firstName.errors?.['minlength']">Minimum length should be 3</div>
                <!-- <div *ngIf="firstName.errors?.['maxlength']">Maximum length should be 10</div> -->
                <!-- <div *ngIf="firstName.errors?.['pattern']">Pattern should match to
                    {{firstName.errors?.['pattern'].requiredPattern}}</div> -->
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" #comment="ngModel" (change)="log(comment)" id="comment" cols="30" rows="10"
            class="form-control"> </textarea>
    </div>
    <div>
        <label>
            <input type="checkbox" ngModel name="isSubscribed"> Get Subscribed.
        </label>
    </div>
    <div class="form-group">
        <label for="contact Method"> Contact Method </label>
            <select ngModel name="contact Method" id="contact Method" class="form-control">
                <!-- this is for not selecting first value -->
                <option value=""></option>   
                <!-- ngValue is used when we want to send a complex object -->
                <option *ngFor="let method of conatctMethods" [ngValue]="method">{{method.method}}</option>
            </select>
    </div>
    <p>{{f.value | json}}</p>
    <br>
    <div style="padding-left: 15cm">
        <button class="btn btn-primary" [disabled]="!f.valid">submit</button>
    </div>
</form>